{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Ro'yxatdan O'tish</title>
</head>
<body>
    <div class="container">
        <form id="registerForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="fullName">To'liq ism</label>
                <input type="text" id="fullName" placeholder="Ismingizni kiriting" required>
            </div>
            <div class="form-group">
                <label for="password">Parol</label>
                <input type="password" id="password" placeholder="Parolingizni kiriting" required>
            </div>
            <button type="submit">Ro'yxatdan O'tish</button>
            <div id="message"></div>

            <!-- Kirish sahifasiga o'tish linki -->
            <p>Ro'yxatdan o'tganmisiz? <a href="{% url 'index-page' %}">Kirish</a></p>
        </form>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>
